<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.team.pet.dao.AdoptPetMapper">
  <resultMap id="BaseResultMap" type="com.love.team.pet.model.AdoptPet">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="release_id" jdbcType="VARCHAR" property="releaseId" />
    <result column="adopter_id" jdbcType="VARCHAR" property="adopterId" />
    <result column="contact_way" jdbcType="VARCHAR" property="contactWay" />
    <result column="read_amount" jdbcType="INTEGER" property="readAmount" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.love.team.pet.model.AdoptPet">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, create_by, update_date, update_by, version, is_deleted, release_id, 
    adopter_id, contact_way, read_amount
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from adopt_pet
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from adopt_pet
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.love.team.pet.model.AdoptPet">
    insert into adopt_pet (id, create_date, create_by, 
      update_date, update_by, version, 
      is_deleted, release_id, adopter_id, 
      contact_way, read_amount, content
      )
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=BIT}, #{releaseId,jdbcType=VARCHAR}, #{adopterId,jdbcType=VARCHAR}, 
      #{contactWay,jdbcType=VARCHAR}, #{readAmount,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.love.team.pet.model.AdoptPet">
    insert into adopt_pet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="releaseId != null">
        release_id,
      </if>
      <if test="adopterId != null">
        adopter_id,
      </if>
      <if test="contactWay != null">
        contact_way,
      </if>
      <if test="readAmount != null">
        read_amount,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="releaseId != null">
        #{releaseId,jdbcType=VARCHAR},
      </if>
      <if test="adopterId != null">
        #{adopterId,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="readAmount != null">
        #{readAmount,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.love.team.pet.model.AdoptPet">
    update adopt_pet
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="releaseId != null">
        release_id = #{releaseId,jdbcType=VARCHAR},
      </if>
      <if test="adopterId != null">
        adopter_id = #{adopterId,jdbcType=VARCHAR},
      </if>
      <if test="contactWay != null">
        contact_way = #{contactWay,jdbcType=VARCHAR},
      </if>
      <if test="readAmount != null">
        read_amount = #{readAmount,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.love.team.pet.model.AdoptPet">
    update adopt_pet
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      release_id = #{releaseId,jdbcType=VARCHAR},
      adopter_id = #{adopterId,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR},
      read_amount = #{readAmount,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.love.team.pet.model.AdoptPet">
    update adopt_pet
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=BIT},
      release_id = #{releaseId,jdbcType=VARCHAR},
      adopter_id = #{adopterId,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR},
      read_amount = #{readAmount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>