<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.team.pet.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.love.team.pet.model.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="id_card_front_image" jdbcType="VARCHAR" property="idCardFrontImage" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="id_card_back_image" jdbcType="VARCHAR" property="idCardBackImage" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_image" jdbcType="VARCHAR" property="userImage" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_date, create_by, update_date, update_by, open_id, id_card_front_image, 
    role_id, is_deleted, version, qq, we_chat, phone_number, id_card, id_card_back_image, 
    user_name, user_image, email, sex, address, province, city, area
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.love.team.pet.model.User">
    insert into user (id, create_date, create_by, 
      update_date, update_by, open_id, 
      id_card_front_image, role_id, is_deleted, 
      version, qq, we_chat, 
      phone_number, id_card, id_card_back_image, 
      user_name, user_image, email, 
      sex, address, province, 
      city, area)
    values (#{id,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, 
      #{idCardFrontImage,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{isDeleted,jdbcType=BIT}, 
      #{version,jdbcType=INTEGER}, #{qq,jdbcType=VARCHAR}, #{weChat,jdbcType=VARCHAR}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{idCardBackImage,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userImage,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{sex,jdbcType=BIT}, #{address,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.love.team.pet.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="idCardFrontImage != null">
        id_card_front_image,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="weChat != null">
        we_chat,
      </if>
      <if test="phoneNumber != null">
        phone_number,
      </if>
      <if test="idCard != null">
        id_card,
      </if>
      <if test="idCardBackImage != null">
        id_card_back_image,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userImage != null">
        user_image,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontImage != null">
        #{idCardFrontImage,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackImage != null">
        #{idCardBackImage,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null">
        #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.love.team.pet.model.User">
    update user
    <set>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontImage != null">
        id_card_front_image = #{idCardFrontImage,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weChat != null">
        we_chat = #{weChat,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null">
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackImage != null">
        id_card_back_image = #{idCardBackImage,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userImage != null">
        user_image = #{userImage,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.love.team.pet.model.User">
    update user
    set create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      id_card_front_image = #{idCardFrontImage,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=BIT},
      version = #{version,jdbcType=INTEGER},
      qq = #{qq,jdbcType=VARCHAR},
      we_chat = #{weChat,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      id_card_back_image = #{idCardBackImage,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_image = #{userImage,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      address = #{address,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>